Package: apple-swift
Version: $RELEASE-$BUILD
Architecture: amd64
Depends: 
Maintainer: Dennis Schafroth <dennis@schafroth.com>
Description: Debian Package of the Apple Swift Language Toolchain
 This contains the Apple Swift Language toolchain
